<!--views/site/contact.ejs-->
<!DOCTYPE HTML>
<html id="contact">
<body>
<h1>Contact the Daily Planet</h1>
<ul>
<li>If you would like to contact the Daily Planet, email us at benaffleckisbatman@gothamgoogle.com</li>
<li>PS - Stop sending Lois Lane death threats please. Damn animals</li>
</ul>
</body>
</html>

