<!--views/site/index.ejs-->
<!DOCTYPE HTML>
<html>
<body>
<h1>Welcome to the Daily Planet - Superman is not Here</h1>
<ul>
<li><a href="/articles" title="All Articles">Check out these awesome articles</a></li>
<li><a href="/authors" title="All Authors">Super Duper Authors, Go!</a></li>
<li><a href="about" title="about page">About the Planet</a></li>
<li><a href="contact" title="contact page">Contact Info</a></li>
</ul>
</body>
</html>

